{% extends "Basics/base.html" %}
<script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
{% block content %}
 <div class="container">
	   {{ chart.as_html }}
 </div>
{% endblock content %}
