{% extends "Basics/base.html" %}

{% block content %}
 <div class="container">
	    <p>This website is called ResultSIght.</p>
        <p> We can create the results of students and</p>
		<p>students can view their respective result and</p>
		<p> keep tracks of their reuslt in the most easitest</p>
		<p> and convinient way.</p>
		<p>Hello Srijal, added this through webhook</p>

		<p>Assignment by Idea Breed.</p>
 </div>
{% endblock content %}



