{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstra‌​p.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap‌​.min.js" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Basics/bootstrap/css/bootstrap.min.css' %}">
    <link rel ="stylesheet" type="text/css" href="{% static 'Basics/nav.css' %}">
    {% if title %}
		<title>Result Sight - {{ title }}</title>
	{% else %}
		<title>Result Sight</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'Basics-home' %}">Result Sight</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
				<a class="nav-item nav-link" href="{% url 'Basics-home' %}">Home</a>
				<a class="nav-item nav-link" href="{% url 'Basics-about' %}">About</a>
                <!-- {% if user.is_authenticated and user.is_admin%}
			        <a class="nav-item nav-link" href="{% url 'users-manage-course' %}">Manage department</a>
                {% endif %} -->
	        </div>
			<!-- Navbar Right Side -->
	        <div class="navbar-nav">
		        {% if user.is_authenticated and user.is_teacher%}
					<a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
					<a class="nav-item nav-link" href="{% url 'Basics-results' %}">Results</a>
			        <a class="nav-item nav-link" href="{% url 'users-profile' %}">Hi {{ user.full_name }}</a>
				    <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
				 {% elif user.is_authenticated and user.is_student%}
				 	<a class="nav-item nav-link" href="{% url 'Basics-student-results' %}">Results</a>
			        <a class="nav-item nav-link" href="{% url 'users-profile' %}">Hi {{ user.full_name }}</a>
				    <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
		        <!-- {% elif user.is_authenticated and user.is_admin %}
					<a class="nav-item nav-link" href="{% url 'post-create' %}">New Notice</a>
					<a class="nav-item nav-link" href="{% url 'users-profile' %}">Admin {{ user.full_name }}</a>
				    <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a> -->
                 {% else %}
                    <a class="nav-item nav-link" href="{% url 'users-login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a>
		        {% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
        <main role="main" class="container">
		  <div class="row">
		    <div class="col-md-8">
		    {% if messages %}
		        {% for message in messages %}
		            <div class="alert alert-{{ message.tags }}">
		                {{ message }}
		            </div>
		        {% endfor %}
		    {% endif %}
		       {% block content %}
		       {% endblock%}
		    </div>
		    <div class="col-md-4">
		      <p class="content-section">
		        <h3>Our Sidebar</h3>
		        <p class='text-muted'>You can put any information here you'd like.
		          <ul class="list-group">
		            <li class="list-group-item list-group-item-light">Latest Posts</li>
		            <li class="list-group-item list-group-item-light">Announcements</li>
		            <li class="list-group-item list-group-item-light">Calendars</li>
		            <li class="list-group-item list-group-item-light">etc</li>
		          </ul>
		      </div>
		    </div>
		</main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
