{% load static %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Basics/bootstrap/css/bootstrap.min.css' %}">
    <link rel ="stylesheet" type="text/css" href="{% static 'Basics/new_nav.css' %}">
    <!-- <link rel ="stylesheet" type="text/css" href="{% static 'Basics/new_nav.css' %}"> -->
    {% if title %}
    <title>Result Sight - {{ title }}</title>
    {% else %}
        <title>Result Sight</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="logo-container">
                <a class="brand-pic" href= #><img src="/media/Logologo.svg"</a>
                <a class="brand" href="{% url 'Basics-home' %}"><h2>Result Sight</h2></a>
            </div>
            <div class="main-nav-left">
                <a class="main-nav-item" href="{% url 'Basics-home' %}">Home</a>
                {% if user.is_authenticated and user.is_teacher %}
                    <a class="main-nav-item" href="{% url 'Basics-results' %}">Results</a>
                {% elif user.is_authenticated and user.is_student %}
                    <a class="main-nav-item" href="{% url 'Basics-student-results' %}"> Show Your Result</a>
                {% endif %}
                <a class="main-nav-item" href="{% url 'Basics-about' %}">About</a>
            </div>
            <!--Navbar Right Side-->
            <div class="main-nav-right">
                {% if user.is_authenticated and user.is_teacher %}
                    <a class="main-nav-item" href="{% url 'users-profile' %}">Hello, {{ user.full_name}}</a>
                    <a class="main-nav-item" href="{% url 'post-create' %}">New Post</a>
                    <a class="main-nav-item" href="{% url 'users-logout' %}">Logout</a>
                {% elif user.is_authenticated and user.is_student %}
                    <a class="main-nav-item" href="{% url 'users-profile' %}">Hello, {{ user.full_name}}</a>
                    <a class="main-nav-item" href="{% url 'users-logout' %}">Logout</a>
                {% else %}
                    <a class="main-nav-item" href="{% url 'users-login' %}">Login</a>
                    <a class="main-nav-item" href="{% url 'users-register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock content %}
                {% block script %}
                {% endblock script %}
            </div>
            <!-- <div class="col-md-4">
                <p class="content-section">
                    <h3>Our Sidebar</h3>
                </p>
                <p class="text-muted"> Put your informations here... </p>
                <ul class="list-group">
                    <li class="list-group-item">Latest Post</li>
                    <li class="list-group-item">Announcements</li>
                    <li class="list-group-item">Calenders</li>
                    <li class="list-group-item">etc</li>
                </ul>
            </div> -->
            <div class="sidebar">
                <ul class="list-group">
                    <li class="list-group-item">Latest Post</li>
                    <li class="list-group-item">Announcements</li>
                    <li class="list-group-item">Calenders</li>
                    <li class="list-group-item">etc</li>
                </ul>
            </div>
        </div>
    </main>
    
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html>