{% extends "Basics/base.html" %}
{#<script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>#}


{% block script %}
    <a class="btn btn-secondary btn-sm" href="{% url 'Basics-chart-general' %}"> Bar Chart</a>
    <script>
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        charts = [];
{#        {% for semester, terms in result.items %}#}
{#        {% for term, results in terms.items %}#}
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for semester, terms in result.items %}
                        {% for term, results in terms.items %}
                                "{{term }}%",
                        {% endfor %}
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Percentage',
                    data: [
                        {% for semester, terms in result.items %}
                            {% for term, results in terms.items %}
                                    "{{ results.total.percentage }}",
                            {% endfor %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
{#        {% endfor %}#}
{#        {% endfor %}#}
        })
    </script>
{% endblock script %}

{% block content %}

<canvas id="myChart" width="200" height="200"></canvas>

{% endblock content %}
