{#<option value="">---------</option>#}

<select name="subject" class="select form-control">
{% for subject in subjects %}
        <option value="{{subject.id }}" >{{subject.name }} </option>
{% endfor %}
</select>
<br/>
<div>
    <label for="marks">Marks</label>
<table>
    <tr>
        <th>Name</th>
        <th>Marks Obtained</th>
    </tr>
    {% for student in students %}
        <tr>
        <td>{{ student.user__full_name }}</td>
        <td><input type="hidden" name="students[]" value="{{ student.id }}">
            <input type="number" class="form-control" name="marks[]" min="0" max="100"></td>
        </tr>
    {% endfor %}
</table>
</div>