<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                padding: 10px;
            }

            .student_report {
                padding: 18px;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .report_college{
                text-align: center;
                border: 2px #333333;
            }

            .report_college h2{
                font-family: sans-serif;
                font-size: 30px;

            }

            .report_term{
                text-align: center;
                padding-top: 2px;
                padding-bottom: 4px;
            }

            .report_term h2{
                font-family: Impact, Charcoal, sans-serif;
                font-size: 25px;
                text-decoration: underline ;
            }

            .student_info{
                padding-top: 20px;
                padding-left: 40px;
                padding-bottom: 1px;

            }

            .student_info h6{
                font-family: Tahoma, serif;
                font-size: 20px;
                font-weight: 800;
            }


            .table{
                width: 100%;
                max-width: 100%;
                margin-bottom: 5px;
                background-color: #fff;
            }

            .table th,
            .table td {
                padding: 5px;
                vertical-align: top;
                border-top: 1px solid #000;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                border-left: 2px solid #000;
                text-align: center;
            }

            .table thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #000;
            }

            .table tbody + tbody {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
            }

            .table .table {
                background-color: #fff;
            }

            .student_marks{
                padding-top: 5px;
                padding-left: 40px;
                padding-bottom: 15px;
            }

            .student_marks h6{
                font-family: Tahoma, serif;
                font-size: 20px;
                font-weight: 800;
            }

            .report_verification{
                text-align: center;
                padding-left: 40px;
                padding-top: 80px;
            }

            .report_verification h6{
                font-family: Tahoma, serif;
                font-size: 20px;
                font-weight: 800;
            }

        </style>
    </head>
    <body>
      {% for semester, terms in result.items %}
      {% for term, results in terms.items %}
          <div class="student_report">
            <div class="report_college"><h2>KATHFORD INTERNATIONAL COLLEGE OF ENGINEERING AND MANAGEMENT</h2></div>
            <div class="report_term"><h2>{{ term }} Report Card</h2></div>
              <div class="student_info" xmlns="http://www.w3.org/1999/html">
                <h6>Name: {{ full_name }}</h6>
                <h6>Semester: {{ semester }}</h6>
                <h6>Course: {{ course }}</h6>
              </div>
          <div class="student_table">
            <table class="table">
            <thead>
            <tr>
              <th>Subject</th>
              <th>Full Marks</th>
              <th>Pass Marks</th>
              <th>Obtained Marks</th>
            </tr>
            </thead>
            <div class="student_table_data">
              {% for item in results.marks %}
                  <tr>
                    {% for i in item %}
                        {% if item.2 > item.3 %}
                        <td><strong>{{ i }} *</strong></td>
                    {% else %}
                        <td>{{ i }}</td>
                    {% endif %}
                    {% endfor %}
                  </tr>
              {% endfor %}
            </div>
            </table>
          </div>
            <div class="student_marks">
                <h6>Total: {{ results.total.marks }}</h6>
                <h6>Obtained: {{ results.total.obtained }}</h6>
                <h6>Percentage: {{ results.total.percentage|floatformat:'2'  }} % </h6>
                <h6>
                    Remarks:
                    {% for item in results.marks|slice:":1" %}
                    {% if item.2 > item.3 %}
                        Failed
                    {% else %}
                        Passed
                    {% endif %}

              {% endfor %}

                </h6>

            </div>
          <div class="report_verification">
              <h6>Verified By: Kathford</h6>
          </div>
          </div>
      {% endfor %}
    {% endfor %}
    </body>
</html>