{% extends "Basics/base.html" %}
{% block content %}
		<article class="media content-section">
		<img class = "rounded-circle article-img" src="{{ object.teacher.profile.image.url }}"  alt="">
			  <div class="media-body">
				    <div class="article-metadata">
				      <a class="mr-2" href="{% url 'user-posts'  object.teacher.full_name %}">{{ object.teacher }}</a> <!--that full_name is from our User full_name, since teacher is related to our Custom User model through Foregin Key-->
				      <small class="text-muted">{{ object.date_posted|date:"F d, Y " }}</small>
				    {% if object.teacher == user %}
					    <div>
						<a class = 'btn btn-secondary btn-sm mt-1 mb-1' href = "{% url 'post-update' object.id %}">Update</a>
						<a class = 'btn btn-danger btn-sm mt-1 mb-1' href = "{% url 'post-delete' object.id %}">Delete</a>
					    </div>
				    {% endif %}
				    </div>
				    <h2 class="article-title">{{ object.title }}</h2>
				    <p class="article-content">{{ object.content }}</p>
			  </div>
		</article>
{% endblock content %}
