{#{% extends 'Basics/base.html' %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block content %}#}
{#    <form method='post'>#}
{#        {% csrf_token %}#}
{#            <fieldset class="form-group">#}
{#                <legend class="border-bottom mb-4">#}
{#                    Generate Report#}
{#                </legend>#}
{#                <div>#}
{#                    {{ form|crispy }}#}
{#                </div>#}
{##}
{#                {{ form.non_field_errors }}#}
{#                {{ form.source.errors }}#}
{#                {{ form.source }}#}
{##}
{##}
{#            <div>#}
{#                {% for s in students %}#}
{#                <table border="1" cellspacing="5px" cellpadding="5px" >#}
{#                    <div>#}
{#                        <tr>#}
{#                            <th>Name:</th>#}
{#                            <td>#}
{#                                {{ form.student.errors }}#}
{#                                {{ form.student }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{##}
{#                    <div>#}
{#                        <tr>#}
{#                            <th>{{ form.semester.label_tag }}</th>#}
{#                            <td>#}
{#                                {{ form.semester.errors }}#}
{#                                {{ form.semester }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{##}
{#                     <div>#}
{#                        <tr>#}
{#                            <th>{{ form.course.label_tag }}</th>#}
{#                            <td>#}
{#                                {{ form.course.errors }}#}
{#                                {{ form.course }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{##}
{#                     <div>#}
{#                        <tr>#}
{#                            <th>{{ form.subject.label_tag }}</th>#}
{#                            <td>#}
{#                                {{ form.subject.errors }}#}
{#                                {{ form.subject }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{##}
{#                    <table class="table">#}
{#                      <thead class="thead-dark">#}
{#                        <tr>#}
{#                          <th scope="col">#</th>#}
{#                          <th scope="col">Subject</th>#}
{#                          <th scope="col">Full Marks</th>#}
{#                          <th scope="col">Pass Marks</th>#}
{#                          <th scope="col">Marks Obtained</th>#}
{#                        </tr>#}
{#                      </thead>#}
{#                      <tbody>#}
{#                      {% for key, s  in result  %}#}
{#                        <tr>#}
{#                        {% for key_subject, values_subject in sub_dict_counter.items %}#}
{#                        {% for v_subject in values_subject %}#}
{#                          <td>{{key }}</td>#}
{##}
{#                          <td>{{s.name}}</td>#}
{#                            {% for key_full_marks, values_full_marks in full_marks_dict.items %}#}
{#                                {% for v_full_marks in values_full_marks %}#}
{##}
{#                          <td>{{s.full_marks}}</td>#}
{##}
{#                          <td>{{s.pass_marks}}</td>#}
{##}
{#                          <td>{{s.marks_obtained}}</td>#}
{##}
{#                        </tr>#}
{#                            {% endfor %}#}
{#                            {% endfor %}#}
{#                          {% endfor %}#}
{#                        {% endfor %}#}
{#                      {% endfor %}#}
{#                      </tbody>#}
{#                    </table>#}
{#                    <div>#}
{#                        <tr>#}
{#                            <th>Grand Total</th>#}
{#                            <td>#}
{#                                {{ form.student.errors }}#}
{#                                {{ form.student }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{#                    <div>#}
{#                        <tr>#}
{#                            <th>Percentage</th>#}
{#                            <td>#}
{#                                {{ form.student.errors }}#}
{#                                {{ form.student }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{#                 <div>#}
{#                        <tr>#}
{#                            <th>Remarks</th>#}
{#                            <td>#}
{#                                {{ form.student.errors }}#}
{#                                {{ form.student }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    </div>#}
{#                    </table>#}
{#                {% endfor %}#}
{#            </div>#}
{##}
{##}
{#            </fieldset>#}
{#    </form>#}
{#{% endblock %}#}