{#{% extends 'Basics/base.html' %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#	{% block content %}#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            {{ form|crispy }}#}
{#        </form>#}
{#        <form  method='post'>#}
{#        {% csrf_token %}#}
{#            <fieldset class="form-group">#}
{#                <legend class="border-bottom mb-4">#}
{#                    Create Result#}
{#                </legend>#}
{##}
{#                <div id="div_id_semester" class="form-group">#}
{#                    <label for="id_semester" class=" requiredField">Semester<span class="asteriskField">*</span></label>#}
{#                    <div class="">#}
{#                        <select name="semester" class="select form-control" required id="id_semester">#}
{#                            <option value="">{{my_dict.semester}}</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div id="div_id_subject" class="form-group">#}
{#                    <label for="<id_sub></id_sub>ject" class=" requiredField"> Subject<span class="asteriskField">*</span></label>#}
{#                    <div class="">#}
{#                        <select name="subject" class="select form-control" required id="id_subject">#}
{#                            <option value="">{{my_dict.subject}}</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div id="div_id_course" class="form-group">#}
{#                    <label for="id_course" class=" requiredField">Course<span class="asteriskField">*</span> </label>#}
{#                <div class="">#}
{#                    <select name="course" class="select form-control" required id="id_course">#}
{#                        <option value="">{{my_dict.course}}</option>#}
{#                    </select>#}
{#                </div>#}
{#                </div>#}
{#                {% for c in students%}#}
{#                    <div class="row">#}
{#                    <div id="div_id_student" class="col-md-6">#}
{#                        <label for="id_student" class=" requiredField">Student<span class="asteriskField">*</span> </label>#}
{#                        <div class="">#}
{#                            <select name="student" class="select form-control is-invalid" required id="id_student">#}
{#                                <option value="" selected>{{c}}</option>#}
{#                            </select>#}
{#                            <p id="error_1_id_student" class="invalid-feedback"><strong>This field is required.</strong></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div id="div_id_marks_obtained" class="col-md-6">#}
{#                        <label for="id_marks_obtained" class=" requiredField">Marks obtained<span class="asteriskField">*</span> </label>#}
{#                        <div class="">#}
{#                            <input type="number" name="marks_obtained" class="numberinput form-control is-invalid" required id="id_marks_obtained">#}
{#                            <p id="error_1_id_marks_obtained" class="invalid-feedback"><strong>This field is required.</strong></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{##}
{##}
{##}
{#  {{ form.non_field_errors }}#}
{#  {{ form.source.errors }}#}
{#  {{ form.source }}#}
{##}
{##}
{##}
{#        <div>#}
{#          <label>{{ form.subject.label_tag }}</label>#}
{##}
{#          {{ form.subject.errors }}#}
{#          {{ form.subject }}#}
{##}
{#        </div>#}
{##}
{#        <div>#}
{#            {{ form.semester.label_tag }}#}
{#            {{ form.semester.errors }}#}
{#            {{ form.semester }}#}
{#        </div>#}
{##}
{##}
{#        <div>#}
{#            {{ form.course.label_tag }}#}
{#            {{ form.course.errors }}#}
{#            {{ form.course }}#}
{#            {{ form.course.help_text }}#}
{#        </div>#}
{##}
{#        <div>#}
{#            {% for c in students%}#}
{#              <div class="row">#}
{#                    {{ form.student.label_tag }}#}
{#                    {{ form.student.errors }}#}
{#                    {{ form.student }}#}
{#                    {{ form.student.help_text }}#}
{##}
{##}
{#                    {{ form.marks_obtained.label_tag }}#}
{#                    {{ form.marks_otained.errors }}#}
{#                    {{ form.marks_obtained}}#}
{#                    {{ form.marks_obtained.help_text }}#}
{##}
{#              </div>#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <button class="btn btn-outline-dark" type="submit">#}
{#                    Save Marks#}
{#                </button>#}
{#            </div>#}
{#        </form>#}
{##}
{#	{% endblock content %}#}