{% extends 'Basics/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{#  <form class="form-inline" method="GET" action="">#}
{#      <div class="form-group mx-sm-3 mb-2">#}
{#        <label for="inputPassword2" class="sr-only">Password</label>#}
{#        <input type="text" class="form-control" id="inputPassword2" placeholder="Course">#}
{#      </div>#}
{#      <div class="form-group mx-sm-3 mb-2">#}
{#        <label for="inputPassword2" class="sr-only">Password</label>#}
{#        <input type="text" class="form-control" id="inputPassword2" placeholder="Semester">#}
{#      </div>#}
{#    <button type="submit" class="btn btn-info mb-2">Search Result</button>#}
{#    </form>#}


    {% for semester, terms in result.items %}
      {% for term, results in terms.items %}
          <div class="student_report">
            <div class="report_college"><h2>KATHFORD INTERNATIONAL COLLEGE OF ENGINEERING AND MANAGEMENT</h2></div>
            <div class="report_term"><h2>{{ term }} Report Card</h2></div>
              <div class="student_info" xmlns="http://www.w3.org/1999/html">
                <h6>Name: {{ full_name }}</h6>
                <h6>Semester: {{ semester }}</h6>
                <h6>Course: {{ course }}</h6>
              </div>
          <div class="student_table">
            <table class="table table-bordered table-info">
            <thead class="thead-dark">
            <tr>
              <th>Subject</th>
              <th>Full Marks</th>
              <th>Pass Marks</th>
              <th>Obtained Marks</th>
            </tr>
            </thead>
              {% for item in results.marks %}
                  <tr>
                    {% for i in item %}
                        {% if item.2 > item.3 %}
                        <td class="table table-danger">{{ i }} </td>
                    {% else %}
                        <td>{{ i }}</td>
                    {% endif %}
                    {% endfor %}
                  </tr>
              {% endfor %}
            </table>
          </div>
            <div class="student_marks">
                <h6>Total: {{ results.total.marks }}</h6>
                <h6>Obtained: {{ results.total.obtained }}</h6>
                <h6>Percentage: {{ results.total.percentage|floatformat:'2' }} % </h6>
                <h6>Remarks:
                    {% for item in results.marks|slice:":1" %}
                        {% if item.2 > item.3 %}
                            Failed
                        {% else %}
                            <font color="#32cd32">Passed</font>
                        {% endif %}

                    {% endfor %}</h6>
            </div>
            <div class="student_chart">
                <a class="btn btn-secondary btn-sm" href="{% url 'Basics-chart-general' %}">Percentage Chart</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'Basics-chart' %}"> Subject Chart</a>
            </div>
          <div class="report_verification">
              <h6>Verified By: Kathford</h6>
          </div>
          <div class="report_download">
              <a class="btn btn-secondary btn-sm" href="{% url 'pdf' term  %}"  > Download</a>
          </div>
          </div>

      {% endfor %}
    {% endfor %}


{% endblock %}
