{% extends "Basics/base.html" %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


{% block content %}
    {% for course, batch in results.items|dictsort:"0.lower" %}
        {% for batch, semesters in batch.items|dictsort:"0.lower" %}
            {% for semester, subjects in semesters.items|dictsort:"0.lower" %}
                {% for subject, students in subjects.items|dictsort:"0.lower" %}
                    <div class="teacher_report">
                        <div class="teacher_report_info">
                            <h5>Course:<i><strong>{{ course }}</strong></i></h5>
                            <h5>Semester:<i><strong>{{ semester }}</strong></i></h5>
                            <h5>Subject:<i><strong>{{ subject }}</strong></i></h5>
                            <h5>Batch:<i><strong>{{ batch }}</strong></i></h5>
                        </div>
                        <table class="table table-bordered table-info">
                            <thead class="thead-dark">
                            <tr>
                                <th>Students</th>
                                <th>Mid-Term</th>
                                <th>Board</th>
                                <th>Pre-Board</th>
                            </tr>
                            </thead>
                            {% for student, terms in students.items|dictsort:"0.lower" %}
                                <tr>
                                    <td>{{ student }}</td>
                                    {% for term, marks in terms.items|dictsort:"0.lower" %}
                                        {% if marks.obtained_marks < marks.pass_marks %}
                                            <td class="table-danger">{{marks.obtained_marks}}</td>
                                        {% else %}
                                            <td>{{marks.obtained_marks}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
{#                        <div class="student_chart">#}
{#                            <a class="btn btn-secondary btn-sm" href="{% url 'Basics-chart-general' %}">Percentage Chart</a>#}
{#                        </div>#}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock content %}

