{% extends 'Basics/base.html' %}
{% load crispy_forms_tags %}

	{% block content %}
		<div class="content-section">
			<form class="my-ajax-form" method='post' id="PostForm" data-subject-url="{% url 'ajax-load-subject' %}">
				{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">
							Blog Post
						</legend>
						{{ form|crispy }}
                        <span class='btn btn-outline-secondary btn-sm' onClick="loadSubjects().then(data => updateSubjects(data))" style="border: 1px black solid; padding: 2px">load subjects</span>
					</fieldset>
					<diiv class="form-group">
						<button class="btn btn-outline-info" type="submit">
							Proceed to Generate Result
						</button>
					</diiv>
{#                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
                <script>
                    {#$(document).ready(function() {#}
                    $("select[name='semester']").change(loadSubjects().then(data => updateSubjects(data)));
                    $("select[name='course']").change(loadSubjects().then(data => updateSubjects(data)));

                    function loadSubjects() {
                        var url = "{%  url 'ajax-load-subject' %}";
                        var semester = $("select[name='semester']").find(':selected')[0].value;
                        var course = $("select[name='course']").find(':selected')[0].value;

                        return $.ajax({
                            url: url,
                            method: 'post',
                            data: {
                                'semester': semester,
                                'course': course
                            },
                            'csrfmiddlewaretoken': '{% csrf_token %}'
                        });
                    }
                    function updateSubjects(data) {
                        console.log("Button Clicked");
                        console.log(data);
                        var subjectDom = $("#div_id_subject").children()[1];
                        subjectDom.innerHTML = "";
                        subjectDom.innerHTML = data;
                    }
                </script>

			</form>
		</div>

	{% endblock content %}