*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-nav{
    display: flex; /*brings everything in 1 line*/
    width: 90%;
    margin: auto;
    height: 8vh;
    align-items: center; /*aligns the contents in center of nav-bar*/
}

.logo-container, .main-nav-left, .main-nav-right{
    display: flex; /*for each container, the items will be placed next to each other*/
    text-decoration: none;
}

.logo-container{
    flex: 1; /*specifies how much space does this div takes*/
    color: #5f5f79;
}

.main-nav-left{
    flex: 2;
    justify-content: flex-start; /*bring the left content towards left*/
    margin: ;
}

.main-nav-right{
    flex: 3;
    justify-content: flex-end; /*bring the right content towards right*/

}

.main-nav-right a, .main-nav-left a{
    color: #e79e4f;
    font-size: 17px;
    font-family: 'Poppins';
}

.brand h2{
    font-weight: 800;
    margin: 5px 5px 25px 10px;
    font-family: 'OpenDyslexic';
    color: #e79e4f;
}

.brand{
    text-decoration: none; /*get rid of underline in logo*/
}

.brand-pic {
    
    position: absolute;
    left: 3%;
    margin: 10px 5px 5px 5px;
    width: 60px;
    height: 55px;
    
}
img{
    
    max-width: 100%;
    max-height: 100%;
}

.main-nav-item{
    margin: 20px;
    text-decoration: none;
}

.main{
    
}

header{
    background-color: #321f28;
}

.sidebar{
    display: inline-grid;
    grid-gap: 50px;
    grid-column-gap: 50px;
}
body{
    background-color: #e79e4f;
}