.teacher_report{
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px #5a6268 solid;
}


.teacher_report_info{
    padding: 10px 10px 10px 2px;
}

.teacher_report_info h5{
    font-family: serif;
}
.student_chart{
    padding: 10px;
}


