{#<option value="">---------</option>#}

{% for subject in subjects %}

    <div class="form-check">
        <label for="id_subject_{{ subject.id }}"></label><input type="checkbox" class="form-check-input" name="subject" id="id_subject_{{ subject.id }}" value="{{ subject.id }}">
        <label class="form-check-label" for="id_subject_{{  subject.id }}">
            {{subject.name}}
        </label>
    </div>

{% endfor %}