{% extends 'Basics/base.html' %}

	{% block content %}
		<div class = "alert alert-info">
		The new password has been set.
		</div>
		<a href="{% url 'users-login' %}">Sign In Here</a>
	{% endblock content %}