{% extends 'Basics/base.html' %}
{% load crispy_forms_tags %}

	{% block content %}
		<div class="content-section">
  <div class="media">
	    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"  alt="">
	    <div class="media-body">
	      <h2 class="account-heading">{{user.full_name}}</h2>
	      <p class="text-secondary">{{user.email}}</p>
	    </div>
  </div>
	<form method = "POST" enctype = 'multipart/form-data'>
		{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Profile Info
				</legend>
				{{ user_update_form|crispy }}
				{{ profile_update_form|crispy }}
			</fieldset>
			<diiv class="form-group">
				<button class="btn btn-primary" type="submit">
					Update
				</button>
			</diiv>
	</form>
  <!-- FORM HERE -->
</div>

	{% endblock content %}