{% extends 'Basics/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form class="my-ajax-form" method='post' id="TeacherRegisterForm" data-subject-url="{% url 'ajax-load-subjects' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Join Today
                </legend>
                {{ form|crispy }}
                <span class='btn btn-outline-secondary btn-sm' onClick="loadSubjects().then(data => updateSubjects(data))" style="border: 1px black solid; padding: 2px">load subjects</span>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Sign Up as Teacher
                </button>

                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script>
                    {#$(document).ready(function() {#}
                    $("input[name='semester']").change(loadSubjects().then(data => updateSubjects(data)));
                    $("input[name='course']").change(loadSubjects().then(data => updateSubjects(data)));

                    function loadSubjects() {
                        console.log("test")
                        var url = "{%  url 'ajax-load-subjects' %}";
                        var semesters = $("input[name='semester']");
                        var courses = $("input[name='course']");

                        var semester_ids = [];
                        for (var semester of semesters) {
                            semester.checked ? semester_ids.push(semester.value) : null;
                        }

                        var course_ids = [];
                        for (var course of courses) {
                            course.checked ? course_ids.push(course.value) : null;
                        }
                        console.log("Calling ajax");
                        return $.ajax({
                            url: url,
                            method: 'post',
                            data: {
                                'semester': semester_ids,
                                'course': course_ids
                            },
                            'csrfmiddlewaretoken': '{% csrf_token %}'

                        });
                    }

                    function updateSubjects(data) {
                        var subjectDom = $("#div_id_subject").children()[1];
                        subjectDom.innerHTML = "";

                        {#console.log(data);#}

                        subjectDom.innerHTML = data;

                        {#subjectDom.html(data);#}

                        {#for (var i in data) {#}
                        {#    var subject = document.createElement("div");#}
                        {#    subject.classList.add("form-check");#}
                        {#    var inp = document.createElement("input");#}
                        {##}
                        {#    subject.innerHTML = '<input type="checkbox" class="form-check-input" name="subject" id="id_subject_"' + data[i][0] + ' value="' + data[i][0] + '">' +#}
                        {#        '<label class="form-check-label" for="id_subject_' + data[i][0] + '">\n' +#}
                        {#        data[i][1] +#}
                        {#        '</label>';#}
                        {#    subjectDom.appendChild(subject);#}
                        {# }#}
                        {#);#}

                    }

                    {# });#}

                    {#    $("#id_semester").change(function (event) {#}
                    {#function test (event) {#}
                    {#        event.preventDefault();#}
                    {#        var url = $("#TeacherRegisterForm").attr("data-subject-url");  // get the url of the `load_cities` view#}
                    {#        var semesterId = $(this).val();  // get the selected country ID from the HTML input#}
                    {##}
                    {#        $.ajax({                       // initialize an AJAX request#}
                    {#            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)#}
                    {#            data: {#}
                    {#                'semester': semesterId       // add the country id to the GET parameters#}
                    {#            },#}
                    {#            success: function (data) {   // `data` is the return of the `load_cities` view function#}
                    {#                $("#id_subject").html(data);  // replace the contents of the city input with the data that came from the server#}
                    {#            }#}
                    {#        });#}
                    {#    });#}
                    {# });#}

                    {#function testFun() {#}
                    {#    var url = $("#TeacherRegisterForm").attr("data-subject-url");#}
                    {#    $.ajax({#}
                    {#        url: '/register/teacher/ajax',#}
                    {#        data: {#}
                    {#            'semester': [1],#}
                    {#            'course': [1, 2]#}
                    {#        },#}
                    {#        success: function(data) {#}
                    {#            console.log(data)#}
                    {#        }#}
                    {#    })#}
                    {# }#}

                </script>
            </div>
        </form>
        <div class="border-top pt =3">
            <small class="text-muted">
                Already have an account?<a class="ml-2" href="{% url 'users-login' %}">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}