{% extends 'Basics/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Register for Result Sight</h2>
  <p class="lead">Please Select the correct User Type</p>
  <a href="{% url 'users-student' %}" class="btn btn-warning btn-lg" role="button">I'm a student</a>
  <a href="{% url 'users-teacher' %}" class="btn btn-warning btn-lg" role="button">I'm a teacher</a>
{% endblock %}