/*body{*/
/*    background-color: #f4f4f4;*/
/*    color: #555555;*/
/*    font-family : Arial, Helvetica, sans-serif;*/
/*    font-size: 16px;*/
/*    font-weight: normal;*/
/*    line-height: 1.6em;*/

/*}*/

.student_report{
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px #5a6268 solid;

}

.report_college{
    text-align: center;
    border: 2px #5a6268 solid;
}

.report_college h2{
    font-family: Impact, Charcoal, sans-serif;
}

.report_term{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 4px;
}

.report_term h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    text-decoration: dashed underline ;
}

.student_info{
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 15px;

}

.student_info h6{
    font-family: Tahoma, serif;
    font-weight: 800;
}

.student_table{
    padding-left: 40px;
    padding-right: 15px;
}

.student_marks{
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.student_marks h6{
    font-family: Tahoma, serif;
    font-weight: 800;
}

.student_chart{
    padding-left: 40px;
}

.report_verification{
    padding-left: 40px;
    padding-top: 80px;
}

.report_verification h6{
    font-family: Tahoma, serif;
    font-weight: 800;

}

.report_download{
    text-align: right;
    padding-right: 15px;
    margin-bottom: 5px;
    color: #ced4da;
}
